* {
  all: unset;
  transition: 200ms ease-out;
  color: #cdd6f4;
  font-family: JetBrainsMono NF Medium;
  font-size: 1.1rem;
}

#window,
#match,
#entry,
#plugin,
#main {
  background: transparent;
}

#main {
  margin-top: 0.5rem;
}

#match:hover,
#match:selected {
  background: #45475a;
  border-radius: 5px;
  padding: 0.4rem
}

entry#entry {
  border-color: transparent;
  margin-top: 0.5rem;
}

box#main {
  background: #1e1e2e;
  border: 3px solid #f5c2e7;
  border-radius: 12px;
  padding: 0.3rem;
}
