* {
  all: unset;
  transition: 200ms ease-out;
  color: #c0caf5;
  font-family: JetBrainsMono NF Medium;
  font-size: 1.1rem;
}

#window,
#match,
#entry,
#plugin,
#main {
  background: transparent;
}

#main {
  margin-top: 0.5rem;
}

#match {
  padding: 3px;
  border-radius: 12px;
}

#match:hover,
#match:selected {
  background: #45475a;
  padding: 0.6rem;
}

entry#entry {
  border-color: transparent;
  margin-top: 0.5rem;
}

box#main {
  background: #1a1b26;
  border: 3px solid #7dcfff;
  border-radius: 10px;
  padding: 0.3rem;
}
